@keyframes slide-right {
  from { width: 1px }
  to { width: 100% }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes emerge {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5)
  }
  100% {
    transform:scale(1.25);
    -webkit-transform: scale(1.25);
  }
}
@keyframes emerge-nav {
  0% {
    transform: scale(1) skewX(-10deg);
  }

  100% {
    transform:scale(1.5) skewX(-10deg);
  }
}
@keyframes emerge-start {
  from {
    transform: scale(0);
    -webkit-transform: scale(0)
  }
  to {
    transform:scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@keyframes emerge-rollout {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: rotate(0deg), translate(0px);
    -webkit-transform: rotate(0deg), translate(0px);


  }
  to {
    transform:scale(1.25);
    -webkit-transform: scale(1.25);
    transform: rotate(180deg), translate(500px);
    -webkit-transform: rotate(180deg), translate(500px);

  }
}

@keyframes spin-rollout {
  from {
    transform: scale(0.5) rotate(0deg) translate(0px);
    -webkit-transform: scale(0.5) rotate(0deg) translate(0px);


  }
  to {
    transform: scale(1.75) rotate(360deg) translate(350px);
    -webkit-transform: scale(1.75) rotate(360deg) translate(350px);

  }
}
$randomnumber: random(300);

@keyframes flip-out {
  from {
    transform: scale(0.5)  rotateY(0deg) rotate(0deg) translate(0px);
    -webkit-transform: scale(0.5) rotateY(0deg) rotate(0deg) translate(0px);
  }
  to {
    transform: scale(1.5)  rotateY(360deg) rotate(360deg) translate(35px);
    -webkit-transform: scale(1.5)  rotateY(360deg) rotate(360deg) translate(350px);

  }
}

@keyframes flip-out-extreme {
  0% {
    transform:
    scale(0.5)
    rotateY(0deg)
    rotate(0deg)
    translate(0px);

    -webkit-transform:
    scale(0.5)
    rotateY(0deg)
    rotate(0deg)
    translate(0px);
  }

  100% {
    transform:
    scale(1.75)
    rotateY(360deg)
    rotate(360deg)
    translate(350px);

    -webkit-transform:
    scale(1.75)
    rotateY(360deg)
    rotate(1080deg)
    translate(350px);

  }
}
@keyframes amenity-push {
  0% {
    transform:
    scale(0.5)
    translate(0px);

    -webkit-transform:
    scale(0.5)
    translate(0px);
  }

  100% {
    transform:
    scale(1.75)
    translate(350px);

    -webkit-transform:
    scale(1.75)
    translate(350px);

  }
}

@keyframes listing-show {
  0% {
    transform:
    scale(0.25)
    translate(660px)
    rotate(70deg)
    translateY(1400px);


    -webkit-transform:
    scale(0.25)
    translate(660px)
    rotate(70deg)
    translateY(1400px);
  }

  100% {
    transform:
    scale(1.75)
    translate(0px)
    rotate(0deg)
    translateY(0deg);

    -webkit-transform:
    scale(1.75)
    translate(0px)
    rotate(0deg)
    translateY(0deg);

  }
}
@keyframes d15 {
  0% {
    transform:
    scale(0.25)
    translate(660px)
    rotate(70deg)
    translateY(1400px);


    -webkit-transform:
    scale(0.25)
    translate(660px)
    rotate(70deg)
    translateY(1400px);
  }

  100% {
    transform:
    scale(1.75)
    translate(0px)
    rotate(0deg)
    translateY(0deg);

    -webkit-transform:
    scale(1.75)
    translate(0px)
    rotate(0deg)
    translateY(0deg);

  }
}
