/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 // Buttons

 .btn{
   float: left;
   width: 100%;
   height: 50px;
   line-height: 50px;
   margin: 0 0 50px 0;
   background-color: #2C3E50;
   color: #fff;
   font-family: 'Indie Flower', cursive;
   font-size: 14px;
   text-decoration: none;
   text-align: center;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   &:hover{
     background-color: #374b60;
   }
 }

 .mytext {
     width: 100px;
 }

 .datetext {
     width: 150px;
 }

 .streettext {
     width: 85%;
 }
 .unittext {
     width: 100px;
 }
