@import '_colors';

.row-one {
  margin-top: 2rem;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
body {

  background-image: url("https://s3.amazonaws.com/hom-development/LA_background_orange.jpg");
 background-repeat: no-repeat;
 background-position: right;
 background-size: cover;
}
.background-oh {
  background-color: #FF8100;
}
.profile-photo-uploader{
  transform: translate(200px);
}
//Butttons
.nav-box {
  left: 40%;
}
.new-listing{
  border: 20px transparent solid;
}
.fieldset-user {
  width: 60%;

}
.title-hover{

}
.title-hover:hover{
  color: #CA7735;
}
.rectangle {
  width: 100px;
  height: 45px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;
  transform: skew(-10deg) translate(141px) translateY(-202px);
}
.rectangle2 {
  width: 100px;
  height: 45px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;
  transform: skew(-10deg) translate(235px) translateY(-247px);
}
.rectangle3 {
  width: 100px;
  height: 45px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;
  transform: skew(-10deg) translate(0px) translateY(-202px);
}
.rectangle4 {
  width: 100px;
  height: 45px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;
  transform: skew(-10deg) translate(235px) translateY(-247px);
}

.hexagon {
  width: 100px;
  height: 55px;
  background: #FFF5F0;
  border-radius: 4px;
  position: relative;
  transform: translate(618px) translateY(-200px);
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #301312;
  border-radius: 4px;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #301312;
}
.button-nav{
  background-color: #FFF5F0;
  border: 2px #301312 solid;
  border-radius: 3px;
  color: #301312;
  padding: 15px 32px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 10px;
  transform: skewX(-10deg);
}

.button-nav:hover {
  background-color: #301312;
  border: 4px #CA7735 solid;
  animation: emerge-nav 1s ease-in-out infinite alternate;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
}
.amenity-tile {
  height: 350px;
  width: 350px;
  border-radius: 6px;
  border: 5px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  transform: scale(0.395) skew(-10deg) translate(-358px) translateY(-776px);
}

.anchoring-box{
  position: absolute;

}
.trigger {
  height: 200px;
  width: 200px;
  border: 1px solid #999;
  margin-top: -185px;
}

.content-tile-index {
  transform: scale(0.5);
  height: 200px;
  width: 200px;
  top: 88%;
  left: 14%;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  margin-top: -185px;
}
.content-tile-index:hover{
  border: 5px #CA7735 solid;
  animation: flip-out 1s ease-in-out ;
  -webkit-animation: flip-out 1s ease-in-out ;
  animation-fill-mode: forwards;
}

.content-tile-show {
  transform: scale(0.5) translate(-30px) translateY(-541px) skew(-10deg);
  height: 200px;
  width: 200px;
  top: 88%;
  left: 14%;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  margin-top: -185px;

}

.image-container{
  height: 50%;
  width: 25%;
  transform: skew(-10deg)translateY(150px);

}
.image-show {
  background-size: cover;
  transform: scale(0.5);
  height: 200px;
  width: 300px;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  margin-top: -185px;
  overflow: hidden;



}
.image-show:hover{
  border: 5px #CA7735 solid;
  animation: flip-out 1s ease-in-out ;
  -webkit-animation: flip-out 1s ease-in-out ;
  animation-fill-mode: forwards;
}

.picturestrip{
  transform: skew(-10deg);
  height: 200px;
  width: 225px;
  border: 3px white solid;

}
.listing-text {
  top: 800px;
}
.listings-box {
  position:absolute;
  transform: skewX(-10deg) translate(0px) translateY(0px);
  top: 49%;
  left: -3%;
}
.listings-show {
  position:absolute;
  transform: skewX(-10deg) translate(0px) translateY(0px);
  top: 49%;
  left: -3%;
}
.listing:hover {
  animation: listing-show 2s ease-in-out ;
  -webkit-animation: listing-show 2s ease-in-out ;
  animation-fill-mode: forwards;

}
.scroll-down{
  transform: scale(0.75) scaleX(2) scaleY(4) SkewY(-70deg);
  position:absolute;
  top: 40%;
  height: 30px;
  width: 20px;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;

}

.nav-bar-set {
  position:absolute;
  left: 5px;

}

.triangle-right {
  transform: skewY(0deg) ;
  width: 0;
  height: 0;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;

}

.photo-box {
  position: absolute;
  border: 4px #301312 solid;
  top: 28%;
  left: 15%;
  height: 60%;
  width: 30%;
  transform: skewX(-10deg);
}
.photo-box-show {
  position: absolute;
  border: 4px #CA7735 solid;
  border-radius: 3px;
  height: 49%;
  width: 49%;
  left: 50%;
  top: 50%;

}
.photo-box-show:hover {
  border: 4px #CA7735 solid;
}

.arrows {

}
.map-box {
  position: absolute;
  border: 4px #301312 solid;
  border-radius: 3px;
  top: 28%;
  left: 15%;
  height: 60%;
  width: 30%;
  transform: skewX(-10deg);
}
.map-style {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map-box-show{
  border: 3px #CA7735 solid;
  }



.console{
  border: 5px #301312 solid;
  top: 100px;

}



.stats-show{
border: 5px #301312 solid;

}
.overhang{
  border: 5px #301312 solid;

}
.map-box:hover {
  border: 5px #CA7735 solid;

}
.padding-for-index {
  padding: 15px;
  background-color: #FF8100;
  height: 100%;
  width:auto;
}
.tile-micro-backer {
  transform: scale(0.1);
  height: 195px;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
}
.tile-micro-backer:hover{
  border: 5px #FF8100 solid;
  animation: emerge 2s ease-in-out infinite alternate;
  -webkit-animation: emerge 2s ease-in-out infinite alternate;
}
.flex-row{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.flex-column{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.hom-image {
  background-color: #FF9427;
}
