@import '_colors';

.row-one {
  margin-top: 2rem;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
body {

  background-image: url("https://s3.amazonaws.com/hom-development/LA_background_orange.jpg");
 background-repeat:repeat-y;
 background-position: right;
 background-size: cover;
}

input[type=radio] {
opacity: 50%;
color: blue;
border: 2px red solid;
}

fieldset legend{
  font-size: 2rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
}
.top-bar-section ul li > a {
    color: #FFF5F0;
    display: block;
    font-family: monospace;
    font-size: 1.3125rem;
    font-weight: normal;
    padding-left: 0.9375rem;
    padding: 12px 0 12px 0.9375rem;
    text-transform: none;
    transform: skew(-10deg);
    width: 100%;
}
.top-bar-section:hover ul li > a {
color: #301312;
background-color: transparentize(#301312, 0.5);
}
.background-oh {
  background-color: #FF8100;
}
.profile-photo-uploader{
    transform: translate(308px) translateY(-82px);
}
//Butttons
.nav-box {
  left: 40%;
}
.new-listing{
  border: 20px transparent solid;
  width: 65%;
}
.fieldset-user {
  width: 60%;
  background: #f2f2f2;
  transform: translate(150px);
  border: 3px solid #301312;
  border-radius: 10px


}
input[type="text"]{
  transform: skew(-10deg);
background-color: #FFF5F0;
border-style: solid;
border-width: 2px;
border-color: #301312;
border-radius: 3px;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.75);
display: block;
font-family: inherit;
font-size: 0.875rem;
height: 2.3125rem;
margin: 0 0 1rem 0;
padding: 0.5rem;
width: 100%;

}
input[type="email"]{
  transform: skew(-10deg);
background-color: #FFF5F0;
border-style: solid;
border-width: 2px;
border-color: #301312;
border-radius: 3px;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.75);
display: block;
font-family: inherit;
font-size: 0.875rem;
height: 2.3125rem;
margin: 0 0 1rem 0;
padding: 0.5rem;
width: 100%;

}
input[type="password"]{
  transform: skew(-10deg);
background-color: #FFF5F0;
border-style: solid;
border-width: 2px;
border-color: #301312;
border-radius: 3px;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.75);
display: block;
font-family: inherit;
font-size: 0.875rem;
height: 2.3125rem;
margin: 0 0 1rem 0;
padding: 0.5rem;
width: 100%;

}
input[type="submit"]{
      transform: translateY(157px) translate(-115px) skew(-10deg) scale(1);
      font-size: 2rem;
      border-radius: 3px;
      color: #301312;
      font-weight: bold;
      font-family: monospace;
      color: #FFF5F0;
      background-color: #301312;
      border: 4px #CA7735 solid;

}
input[type="file"] {
  transform: translateY(-25px) translate(-141px) skew(-10deg) scale(0.4);
  font-size: 2rem;
  border-radius: 3px;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
  color: #FFF5F0;
  background-color: #301312;
  border: 4px #CA7735 solid;
    width: 84%;
}
.signupfield{
  background-color:#FFF5F0;
}

.signuptext {
  font-size: 2rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
  border-radius: 4px;
  border: 3px solid #301312;
  background-color: #FFF5F0;
  color: #301312;
  font-size: 1.5rem;
  transform: skew(-10deg) scale(0.6) translate(202px);
}

.title-hover{

}
.title-hover:hover{
  color: #301312;
}
.glide{
  width: 361px;
  background: #FFF5F0;
  border-radius: 3px;
  border: 2px #301312 solid;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
  padding-left: 3px;
  height: 24px;
  transform: translateY(42px) translate(33px) scale(.8) skew(-10deg);
}
.triangle-up {
  width: 0;
  height: 0;
  border-radius: 50px;
  border-left: 50px solid transparent;
  border-right: 51px solid transparent;
  border-bottom: 121px solid #FFF5F0;
  transform: translate(-20px) translateY(6px) scale(0.6);
}

.triangle-down {
  width: 0;
      height: 0;
      border-radius: 40px;
      border-left: 39px solid transparent;
      border-right: 39px solid transparent;
      border-top: 209px solid #FFF5F0;
      transform: translate(-8px) translateY(-54px) scale(0.6);

}
.rectangle {
  width: 100px;
  height: 25px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;
  transform: skew(-10deg) translate(453px) translateY(-256px);
  text-align: center;
}
.rectangle2 {
  width: 100px;
  height: 25px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;
  transform: skew(-10deg) translate(449px) translateY(-255px);
  text-align: center;
  box-shadow:inset 0px 0px 0px 1px transparent;
  line-height: 100px;
  display: inline-block;
  padding-bottom: 3px

}
.rectangle3 {
  width: 100px;
  height: 45px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;

}
.rectangle4 {
  width: 100px;
  height: 45px;
  background: #FFF5F0;
  border-radius: 4px;
  border: 2px #301312 solid;
  position: relative;

}
.circle5 {
  width: 100px;
  height: 100px;
  background: #FFF5F0;
  box-shadow: inset 0px 0px 0px 5px #301312;
  border-radius: 50%;
  border: 5px #CA7735 solid;
  position: relative;
  transform: translateY(-317px) translate(16px) scale(0.65);
}
.circle4 {
  width: 100px;
  height: 100px;
  background: #FFF5F0;
  box-shadow: inset 0px 0px 0px 14px #301312;
  border: 10px #CA7735 solid;
  border-radius: 50%;
  position: relative;
  transform: translateY(-421px) translate(-19px) scale(0.1);
}
.circle3 {
  width: 100px;
  height: 100px;
  background: #FFF5F0;
  box-shadow: inset 0px 0px 0px 7px #301312;
  border: 7px #CA7735 solid;
  border-radius: 50%;
  position: relative;
  transform: translateY(-347px) translate(-19px) scale(0.2);
}
.circle2 {
    width: 100px;
    height: 100px;
    background: #FFF5F0;
    box-shadow: inset 0px 0px 0px 7px #301312;
    border: 7px #CA7735 solid;
    border-radius: 50%;
    position: relative;
    transform: translateY(-299px)translate(-19px) scale(0.3);
}
.circle {
  width: 100px;
  height: 100px;
  background: #FFF5F0;
  border: #301312 transparent;
  box-shadow:inset 0px 0px 0px 3px #301312;
  border-radius: 50%;
  position: relative;
  transform: translate(618px) translateY(-200px);
  text-align: center;
}
.spinme{
  transform: scale(0.4) translateX(902px) translateY(-1720px);
   font-size: 2rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
}
.spinme2{
  transform: scale(0.4) translateX(-602px) translateY(-970px);
  font-size: 2rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
}
.upme{
  transform: scale(0.4) translateX(635px) translateY(-1804px);
  font-size: 2rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
    }

.downme{
  transform: scale(0.4) translateX(616px) translateY(-1838px);
  font-size: 2rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;

}


.button-nav{
  font-size: 10rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
  background-color: #FFF5F0;
  border: 2px #301312 solid;
  border-radius: 3px;
  color: #301312;
  padding: 15px 32px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 10px;
  transform: skewX(-10deg);
}

.button-nav:hover {
  background-color: #301312;
  border: 4px #CA7735 solid;
  animation: emerge-nav 1s ease-in-out infinite alternate;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
}
.amenity-tile {
  height: 350px;
  width: 304px;
  border-radius: 6px;
  font-family: monospace;
  border: 5px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  padding-left: 10px;
  padding: 1px;
  transform: scale(0.395) skew(-10deg) translate(-317px) translateY(-1005px);
}
.amenity-text{
  font-size: 10rem;
  color: #301312;
  font-weight: bold;
  font-family: monospace;
  transform: scale(0.75) translateY(-60px) translate(-23px);
}

.anchoring-box{
  position: absolute;

}
.trigger {
  height: 200px;
  width: 200px;
  border: 1px solid #999;
  margin-top: -185px;
}

.content-tile-index {
  transform: scale(0.5);
  height: 200px;
  width: 200px;
  top: 88%;
  left: 14%;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  margin-top: -185px;
}
// .content-tile-index:hover{
//   border: 5px #CA7735 solid;
//   animation: flip-out 1s ease-in-out ;
//   -webkit-animation: flip-out 1s ease-in-out ;
//   animation-fill-mode: forwards;
// }

.content-tile-show {
  transform: scale(0.6) translate(-44px) translateY(-588px) skew(-10deg);
  height: 200px;
  width: 200px;
  top: 88%;
  left: 14%;
  border-radius: 6px;
  border: 3px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  margin-top: -185px;
  padding-left: 10px;


}

.image-container{
  height: 50%;
  width: 25%;
  transform: skew(-10deg)translateY(150px);

}
.image-show {
  background-size: cover;
  transform: scale(0.5);
  height: 200px;
  width: 300px;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
  margin-top: -185px;
  overflow: hidden;



}
.image-show:hover{
  border: 5px #CA7735 solid;
  animation: flip-out 1s ease-in-out ;
  -webkit-animation: flip-out 1s ease-in-out ;
  animation-fill-mode: forwards;
}

.picturestrip{
  transform: skew(-10deg);
  height: 200px;
  width: 225px;
  border: 3px white solid;

}
.listing-text {
  top: 800px;
}
.listings-box {
  position:absolute;
  transform: skewX(-10deg) translate(7px) translateY(-17px);
  top: 49%;
  left: -3%;
}
.listings-show {
  position:absolute;
  transform: skewX(-10deg) translate(0px) translateY(0px);
  top: 49%;
  left: -3%;
}
.listing:hover {
  animation: listing-show 2s ease-in-out ;
  -webkit-animation: listing-show 2s ease-in-out ;
  animation-fill-mode: forwards;

}
.scroll-down{
  transform: scale(0.75) scaleX(2) scaleY(4) SkewY(-70deg);
  position:absolute;
  top: 40%;
  height: 30px;
  width: 20px;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;

}

.nav-bar-set {
  position:absolute;
  left: 5px;

}

.triangle-right {
  transform: skewY(0deg) ;
  width: 0;
  height: 0;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;

}

.photo-box {
  position: absolute;
  border: 4px #301312 solid;
  top: 28%;
  left: 15%;
  height: 60%;
  width: 30%;
  transform: skewX(-10deg);
}
.photo-box-show {
  position: absolute;
  border: 4px #CA7735 solid;
  border-radius: 3px;
  height: 49%;
  width: 49%;
  left: 50%;
  top: 50%;

}
.photo-box-show:hover {
  border: 4px #CA7735 solid;
}

.arrows {

}
.map-box {
  position: absolute;
  border: 4px #301312 solid;
  border-radius: 3px;
  top: 28%;
  left: 15%;
  height: 60%;
  width: 30%;
  transform: skewX(-10deg);
}
.map-style {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map-box-show{
  border: 3px #CA7735 solid;
  }



.console{
  border: 5px #301312 solid;
  top: 100px;

}



.stats-show{
border: 5px #301312 solid;

}
.overhang{
  border: 5px #301312 solid;

}
.map-box:hover {
  border: 5px #CA7735 solid;

}
.padding-for-index {
  padding: 15px;
  background-color: #FF8100;
  height: 100%;
  width:auto;
}
.tile-micro-backer {
  transform: scale(0.1);
  height: 195px;
  border-radius: 6px;
  border: 4px #301312 solid;
  background-color: #FFF5F0;
  animation-name: emerge-start;
  animation-duration: 0.5s;
}
.tile-micro-backer:hover{
  border: 5px #FF8100 solid;
  animation: emerge 2s ease-in-out infinite alternate;
  -webkit-animation: emerge 2s ease-in-out infinite alternate;
}
.flex-row{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.flex-column{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

img.hom-image {
  max-width: 50%;
}
