body{
  background-color: #49C1F9;
}
div {
   border: 1px solid;
   border-color: transparent;
   padding: 1px;
}
h5 {
  font-family: cursive;
  color: #3C3C3C;
}
h2 {
  font-family: cursive;
  color: #3C3C3C;
}
h1 {
  font-family: cursive;
  color: #3C3C3C;
  display:flex;
  justify-content: center;
}
h6 {
  font-family: monospace;
  color: red;
  display:flex;
  justify-content: center;
  margin: 0 auto;
}
legend{
  font-family: cursive;
  color: #3C3C3C;
  font-size: 24px;
}
label{
  font-family: cursive;
  color: #3C3C3C;
  font-size: 20px;
  font-weight: bold;
}
fieldset{
  background-color: #F7FFF7;
  border-width: 24px;
  border-color: #3C3C3C;
  border-radius: 8px;
}
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: cursive;
    color: #3C3C3C;
    background-color: #F7FFF7;
    border-width: 5px;
    border-color: #3C3C3C;
    min-width: 100px;
    min-height: 50px;
    font-size: 15px;
  }
input[type="submit"]:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #F7FFF7;
    background-color: #3C3C3C;
    border-width: 5px;
    border-color: #3C3C3C;
    transform: scale(1.05);
  }
a {
  color: #3C3C3C;
  line-height: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #3C3C3C;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 16px #49C1F9;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 16px #49C1F9;
}
.main {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #49C1F9;
  z-index: 10;
  margin:auto;

}

.vertical_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  border-bottom-width: thick;
}

.horizontal_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:auto;
  justify-content: center;
  border-bottom-width: thick;
}

.overflow_x_scroll{
  overflow-x: scroll;
}
.listing_show{
  display:flex;
  margin: auto;
  align-items: center;
  background-color: #F7FFF7;
  border-radius: 8px;
  border-width: 5px;
  border-color: #3C3C3C;
  padding: 5px;
}
.listing_search{
  display:flex;
  margin: auto;
  align-items: center;
  background-color: #F7FFF7;
  border-radius: 8px;
  border-width: 5px;
  border-color: #3C3C3C;
  padding: 5px;
}
.listing_search:hover{
  transform:scale(1.1);
}
.picture_gallery{
  display: flex;
  flex-direction: row;
  background-color: #B9D8C2;
  overflow-y: hidden;
  overflow-x: scroll;
  padding:2px;
  max-width: 1000px;
  border-radius: 8px;
  border-width: 5px;
  border-color: #3C3C3C;
}
.search_results{
  max-height: 300px;
  overflow-y:scroll;
}

.bordered_listing_photo{
  border-radius: 8px;
  border-width: 5px;
  border-color: #3C3C3C;
  height: auto;
  width: 450px;
}
.bordered_listing_photo:hover{
  transform:scale(1.05);
}
.map_container{
  border-color: #3C3C3C;
  border-radius: 5px;
  border-width: thick;
  background-color: #B9D8C2;
  overflow:hidden;
  height: 580px;
  width: 580px;
}
.edit_container{
  margin: auto;
}
.button{
  font-family: cursive;
  color: #3C3C3C;
  background-color: #F7FFF7;
  border-width: 5px;
  border-color: #3C3C3C;
}

.button:hover{
  color: #F7FFF7;
  background-color: #3C3C3C;
  border-width: 5px;
  border-color: #3C3C3C;
  transform: scale(1.05)

}
.buttons{
  font-family: cursive;
  color: #3C3C3C;
  background-color: #F7FFF7;
  border-width: 5px;
  border-color: #3C3C3C;
}
.buttons:hover{
  color: #F7FFF7;
  background-color: #3C3C3C;
  border-width: 5px;
  border-color: #3C3C3C;
  transform: scale(1.05)
}

.profile_name{
    padding-right: 10px;
    padding-top: 8px;
}
.profile_photo{
  width: 25px;
  height: 25px;
}
.cursive_light{
  color: #F7FFF7;
}
.profile_name_container{
border-right: blue solid 5px;
}

.flex_direction{
  flex-direction: row;
}
.container{
  display:flex;
  margin: auto;
}


.listing_show_container{
  display:flex;
  margin: auto;
  align-items: center;
}
.listing_tile {
  background-color: #F7FFF7;
  border-color: #3C3C3C;
  border-radius: 8px;
  border-width: 3px;
  overflow:hidden;
  width: 300px;
  height: 397px;
  flex: 0 0 auto;
  padding: 5px;
}
.listing_tile:hover{
  transform:scale(1.0125);
}
.listing_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 437px;
  border-radius: 8px;
  border-width: 5px;
  border-color: #3C3C3C;
  background-color: #B9D8C2;

}
.listing_photo {
  width: 300px;
  height: 300px;
}
.left_half{
  width: 50%;
  float:left;
  margin: 5px;
}
.right_half{
  width:50%;
  float:right;
  margin: 5px;
}
.top_half{
  height: 50%;
  float:top;
  display: flex;
  justify-content: center;
}
.bottom_half{
  height:50%;
  float:bottom;
  display: flex;
  justify-content: space-between;
}



.triangle_top{
  width: 0;
  border-bottom: 100px solid #3C3C3C;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: 0 auto;
}
.triangle_right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 35px solid #3C3C3C;
}
.triangle_left {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 35px solid #3C3C3C;
  vertical-align: middle;
}
.triangle_bottom {
  width: 0;
  border-top: 100px solid #3C3C3C;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: 0 auto;
}
.triangle_right_small {
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 25px solid #3C3C3C;

}
.triangle_left_small {
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 25px solid #3C3C3C;
  vertical-align: middle;
}

.rentals_logo{
  margin-top: -30px;
  margin-bottom: -75px;
}

.map_tile{
  height: 100%;
  width: 100%;
}









.animate_entrance{
  animation-name: entrance;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animate_dropdown{
  animation-name: dropdown;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes entrance {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
@keyframes dropdown {
  from { height: 0%;}
  to { height: 100%;}
}
@media screen and (max-width: 1024px) {
  //iPad Pro
  .map_container{
    width: 800px;
    height: 800px;
  }
  .picture_gallery{
    width: 800px;
  }
  .listing_show{
    width: 800px;
  }
  .edit_container{
    width: 800px;
  }
}
@media screen and (max-width: 768px) {
  //iPad
  .map_container{
    width: 675px;
    height: 675px;
  }
  .picture_gallery{
    width: 675px;
  }
  .listing_show{
    width: 675px;
  }
  .edit_container{
    width: 675px;
  }
  .flex_direction{
    flex-direction: column;
  }
}
@media screen and (max-width: 414px) {
  //iPhone 6 7 8 Plus
.map_container{
  width: 390px;
}
.picture_gallery{
  width: 390px;
}
.listing_show{
  width: 390px;
}
.edit_container{
  width: 390px;
}
}

@media screen and (max-width: 411px) {
  //Pixel 2 2xl
.map_container{
  width: 383px;
}
.picture_gallery{
  width: 383px;
}
.listing_show{
  width: 383px;
}
.edit_container{
  width: 387px;
}
}
@media screen and (max-width: 375px) {
  //iPhone 6 7 8 X
  .map_container{
    width: 335px;
  }
  .picture_gallery{
    width: 335px;
  }
  .listing_show{
    width: 335px;
  }
  .edit_container{
    width: 357px;
  }
}
@media screen and (max-width: 360px) {
  //Galaxy S5
  .map_container{
    width: 335px;
    height: 500px;
  }
  .picture_gallery{
    width: 335;
  }
  .listing_show{
    width: 335;
  }
  .edit_container{
    width: 335px;
  }
}

@media screen and (max-width: 320px) {
  //iPhone 5se
  .map_container{
    width: 296px;
    height: 500px;
  }
  .picture_gallery{
    width: 296px;
  }
  .listing_show{
    width: 296px;
  }
  .edit_container{
    width: 302px;
  }
}
