
.sidewinder-box {
  height: 200px;
  width: 300px;
  right: -50%;
  transform: scale(1.25) skew(-10deg) translate(405px) translateY(107px);
}

.sidewinder {
  position:absolute;
  height: 200px;
  width: 300px;
  border: 4px #301312 solid;
  overflow: hidden;

}


.d-10{
  transform: scale(0.25) translate(860px) rotate(-30deg) translateY(-1000px);
}

.d-9{
  transform: scale(0.25) translate(870px) rotate(-35deg) translateY(-900px);

}
.d-8{
  transform: scale(0.25) translate(880px) rotate(-40deg) translateY(-800px);
}
.d-7{
  transform: scale(0.25) translate(870px) rotate(-35deg) translateY(-700px);
}
.d-6{
  transform: scale(0.25) translate(860px) rotate(-30deg) translateY(-600px);
}

.d-5{
  transform: scale(0.25) translate(850px) rotate(-25deg) translateY(-500px);
}

.d-4{
  transform: scale(0.25) translate(840px) rotate(-20deg) translateY(-400px);

}
.d-3{
  transform: scale(0.25) translate(830px) rotate(-15deg) translateY(-300px);

}
.d-2{
  transform: scale(0.25) translate(820px) rotate(-10deg) translateY(-200px);

}
.d-1{
  transform: scale(0.25) translate(810px) rotate(-5deg) translateY(-100px);
}
.d1{
  transform: scale(0.25) translate(800px);
}
.d2{
  transform: scale(0.25) translate(790px) rotate(5deg) translateY(100px);
}
.d3{
  transform: scale(0.25) translate(780px) rotate(10deg) translateY(200px);
}
.d4{
  transform: scale(0.25) translate(770px) rotate(15deg) translateY(300px);
}

.d5{
  transform: scale(0.25) translate(760px) rotate(20deg) translateY(400px);
}

.d6{
  transform: scale(0.25) translate(750px) rotate(25deg) translateY(500px);

}
.d7{
  transform: scale(0.25) translate(740px) rotate(30deg) translateY(600px);

}
.d8{
  transform: scale(0.25) translate(730px) rotate(35deg) translateY(700px);

}
.d9{
  transform: scale(0.25) translate(720px) rotate(40deg) translateY(800px);
}

.d10{
  transform: scale(0.25) translate(710px) rotate(45deg) translateY(900px);

}
.d11{
  transform: scale(0.25) translate(700px) rotate(50deg) translateY(1000px);

}
.d12{
  transform: scale(0.25) translate(690px) rotate(55deg) translateY(1100px);

}
.d13{
  transform: scale(0.25) translate(680px) rotate(60deg) translateY(1200px);
}
.d14{
  transform: scale(0.25) translate(670px) rotate(65deg) translateY(1300px);

}
.d15{
  transform: scale(0.25) translate(660px) rotate(70deg) translateY(1400px);
}
// .d1:hover {
//   animation: d15 1s ease-in-out ;
//   -webkit-animation: d15 1s ease-in-out ;
//   animation-fill-mode: forwards;
// }
.main
.main-box{
  position:absolute;
  boarder: 5px orange solid;
  width: 100%;
}
